.peoples {
    width: 280px;

    .delete {
        top: 32%;
        margin-left: 9.3%;
        position: absolute;
    }

    .header {
        border-radius: 10px 10px 0 0;
    }

    img {
        width: 100px;
        border-radius: 50%;
        position: relative;
        bottom: -50px;
    }

    .footer {
        background: white;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .08);
        border-radius: 0 0 10px 10px;
        padding-top: 70px;
        padding-bottom: 20px;
        
        h4 {
            color: #6278f7;
            font-size: 18px;
            line-height: 22px;
        }

        h5 {
            color: black;
            font-size: 18px;
            line-height: 22px;
        }
    }
}